/***

    Desktop-specific styles and overrides.
    We use a class instead of a media query to support IE<9
    TODO: use something like respond.js

***/

.desktop {
    .viewport {
        max-width: 1024px;
        margin: @grid-m auto;
    }

    .page-content {
        .row;
    }

        .page-content-main {
            .box-sizing(border-box);
            float: left;
            .p70;
            padding: 0 @grid-m 0 0;
        }

        .page-content-aside {
            .box-sizing(border-box);
            float: left;
            .p30;
        }

        .box {
            border: 1px solid @grey;
            padding: @grid-m;
        }

        .unit {
            padding: 0 0 0 @grid-m;

            &:first-of-type {
                padding: 0;
            }
        }
}