/***

    Setup basic layout

***/

.page-header {
    line-height: @page-header-height;
    height: @page-header-height - 1;
    border-bottom: 1px solid @grey;
}

.page-logo {
    font-family: @header-font-family;
    font-size: @font-xl;
    color: @header-color;

    /*** center and ensure it stays on top ***/
    display: block;
    position: absolute;
    left: 0; right: 0;
    z-index: 1;
    margin: auto;
    text-align: center;

    width: 7em;
    height: @page-header-height;
}

.header-button,
.header-button-alternate {
    height: @page-header-height;
    line-height: @page-header-height;
    padding: 0 @grid-s;
}

    .header-button-alternate {
        float: left;
    }

    .header-button {
        float: right;
    }

    .header-button-sections {
        padding: 0 @grid-m;
    }

    .header-back-button {
        display: none;
    }
