.website {
    .page-header {
        height: @page-header-height;

        .header-button-alternate {
            float: left;
        }

        .header-button {
            float: right;
        }
    }
}