/***

    Loader

***/

@loader-background: rgba(0,0,0, .85);
@loader-color: #fff;
@loader-width: 5 * @baseline;

.page-loader {
    .box-sizing();
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -(@icon-spinner-dark-height + @baseline) 0 0 -(@loader-width / 2);
    width: @loader-width;
    padding: @grid-l @grid-m;
    z-index: 1000;

    // background: @loader-background;
    background: @black;
    border-radius: @grid-m;
    text-align: center;

    .page-loader-spinner {
        display: block;
        margin: 0 auto @grid-m;
        background: @icon-spinner-dark-url 50% 50% no-repeat;
        width: @icon-spinner-dark-width;
        height: @icon-spinner-dark-height;
    }

    .page-loader-text {
        font-size: @font-s;
        font-weight: bold;
        color: @loader-color;
    }
}
