/***

    Loader

***/

@loader-background: rgba(0,0,0, .85);
@loader-color: #fff;
@loader-width: 5 * @baseline;

@loader-img-width: 32px;
@loader-img-height: 32px;

.loader {
    .box-sizing();
    position: fixed;
    top: 50%;
    left: 0; right: 0;
    width: @loader-width;
    margin: -(@loader-img-height + @baseline) auto 0;
    padding: @grid-l @grid-m;
    z-index: 1000;

    background: @loader-background;
    border-radius: @grid-m;
    text-align: center;

    .spinner {
        margin: 0 auto @grid-m;
        width: @loader-img-width;
        height: @loader-img-height;
    }

    .loader-text {
        font-size: @font-s;
        font-weight: bold;
        color: #fff;
    }
}

.has-loader {
    .page-content {
        opacity: 0.5;
    }
}