/***

    iOS-like navigation tabs at the bottom
    Webapp-only

***/

@page-tab-height: 49px;

.page-tabs {
    .flex-row();
    height: @page-tab-height;
    .animate(-webkit-transform);
    .overlay-bottom;
    .translate3d(0, @page-tab-height, 0);

    .tab-item {
        .flex-unit();
        .truncate;

        padding: @grid-s;
        vertical-align: bottom;
    }

        .tab-item-icon {
            display: block;
            margin: 0 auto 3px;
        }
}

.webapp.has-page-tabs {
    .page-tabs {
        .translate3d(0,0,0); // Move it into view
    }

    .page-content {
        bottom: @page-tab-height;
    }
}

.website {
    .page-tabs {
        display: none; // hide by default
    }
}
