/***

    Sets up the layout for mobile website/webapp
    Provides a main view with a child view (e.g. a list and a detail page)
    Provides modal view which includes its own stack
    Depends on Javascript to toggle the correct classes
    Will animate when used as webapp

    TODO: provide an "unlimited" stack of child pages


    Requires:
    .viewport
        .page-view
            .parent-view[.view-hidden]
            .child-view[.view-hidden]
        .modal-view[.view-hidden]
            .parent-view[.view-hidden]
            .child-view[.view-hidden]

***/

.parent-view,
.child-view,
.modal-view {
    background: @global-background-color;
}

.website {
    .view-active {
        display: block;
    }

    .view-hidden {
        display: none;
    }
}

.webapp {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .viewport {
        .overlay-total;
        overflow: hidden;
    }

        /*** Setup default positioning ***/
        .parent-view,
        .child-view,
        .child-view-alternate,
        .modal-view {
            .border-radius(@grid-s @grid-s 0 0);
            .overlay-total;
        }

            .page-content {
                .overlay-bottom;
                top: @page-header-height;
            }

    &.has-modalview.ios5,
    &.has-navigation.ios5 {
        /***

            On iOS 5, overlapping scroll elements cause jittering scrolling, so we disable it
            NOTE: don't apply to iOS 6, since it will cause flickering when toggling a modal view!

        ***/
        .page-view .page-content {
            overflow: hidden;
            -webkit-overflow-scrolling: default;
        }
    }
}

.tablet {

    &,
    .viewport {
        height: 100%;
    }

    .modal-view {
        .box-shadow(0 @grid-l @grid-l rgba(0,0,0, .5));
        top: 100px;
        left: 20%;
        right: 20%;

        &.view-hidden {
            top: auto;
            bottom: -100%;
        }
    }

    &.has-modalview {
        .page-view,
        .page-navigation {
            -webkit-filter: blur(1px) opacity(0.5);
        }
    }
}
