/*** Import Andamio ***/
@import "../style/main.less";

/*** Import Prism ***/
@import "prism.css";


/*** Comma-separated items ***/
.comma {
    &:before {
        content: ", ";
    }

    &:first-child:before {
        content: " ";
    }

}

/***

    Desktop-specific styling

***/

.desktop {

    /*** Logo ***/
    .andamio-logo {
        .overlay-wrapper;
    }

        .andamio-logo-text {
            position: absolute;
            top: 130px; left: 60px;
            .rotate(-20deg);
            color: #fff;
            font-size: @font-huge;
            text-shadow: 0 2px 3px rgba(0,0,0, .75);
        }

    .getting-started-steps {
        .flex-row;
        width: auto;
        .table-view;
        .table-view-grouped;
    }

        .getting-started-steps-item {
            .table-cell;
            .flex-unit;
            .p33;
            padding: @grid-m;
            border-top: 1px solid @table-view-border;

            &:first-of-type {
                .border-radius(@grid-s 0 0 @grid-s);
                border-left: 1px solid @table-view-border;
            }

            &:last-of-type {
                border-right: 1px solid @table-view-border;
                border-top-right-radius: @grid-s; // cannot use mixin since it would override the already set values...
                border-bottom-right-radius: @grid-s;
            }

            h2 {
                margin: 0 0 @grid-m;
            }
        }

    /*** Boxes ***/
    .js-box {
        padding: @grid-l 0;
        .animate(opacity);
        opacity: 0.3;

        &.active {
            opacity: 1;
        }
    }

    /*** Background ***/
    .viewport {
        background: darken(@global-background-color, 10%);
    }

    /*** Page view ***/
    .page-view {
        top: @grid-m;
        margin-right: 33.33333333%; // make room for the iPhone
        overflow: hidden;
        border: 1px solid darken(@global-background-color, 25%);
        border-radius: @grid-m @grid-m 0 0;

        .parent-view,
        .child-view {
            border-radius: @grid-m @grid-m 0 0;
        }

        .overthrow {
            padding-bottom: 2 * @grid-l;
        }

        // Fadeout header
        .page-header {
            border-radius: @grid-m @grid-m 0 0;
            .gradient(@global-background-color, fadeout(@global-background-color, 100%));
            border: 0;
            z-index: 2;
        }

            .page-logo {
                color: @grey;
                text-shadow: 0 1px 0 #fff;
                width: 50%;
            }

        // Allow page content to scroll behind the page header
        .page-content {
            top: 0;
            padding-top: @page-header-height;
        }
    }

    /*** Page navigation ***/
    .page-navigation {
        background: darken(@global-background-color, 10%);
        padding-top: @grid-l;
    }

        .navigation-header {
            font-size: @font-xs;
            font-weight: bold;
            text-transform: uppercase;
            background: none;
            padding-top: 0;
            padding-bottom: 0;
            text-shadow: 0 1px 0 #fff;
            background: darken(@global-background-color, 15%);
            border-top: 1px solid darken(@global-background-color, 20%);
            border-bottom-color: darken(@global-background-color, 20%);
        }

        .navigation-item {
            color: darken(@grey, 25%);
            text-shadow: 0 1px 0 #fff;
            border-top-color: #fff;
            border-bottom-color: darken(@global-background-color, 20%);

            &.active {
                .gradient(lighten(@webapp-background-color, 25%), @webapp-background-color);
                color: #fff;
                text-shadow: 0 1px 0 darken(@webapp-background-color, 10%);
            }

            &:last-of-type {
                .box-shadow(0 1px 0 #fff);
                margin-bottom: 1px;
            }
        }

    .page-navigation-toggle {
        display: none;
    }

    /*** iPhone preview window ***/
    @iphone-width: 378px;
    @iphone-height: 744px;

    .iphone {
        width: @iphone-width;
        height: @iphone-height;

        position: absolute;
        top: 50%;
        right: 0;
        left: 66.66666666%;
        margin: -(@iphone-height / 2) auto;

        background: url(img/iphone-white.png) 50% 0 no-repeat;
        background-size: @iphone-width @iphone-height;
        .box-sizing(border-box);
        .border-radius(70px);
        .box-shadow(0 20px 60px rgba(0,0,0, .35));

        padding: 153px 26px 130px 30px;

        &:after {
            content: "";
            position: absolute;
            top: 128px;
            right: 23px;
            background: url(img/iphone-glare.png);
            background-size: contain;
            width: 137px;
            height: 366px;

            pointer-events: none;
        }

        .iphone-home-button {
            position: absolute;
            bottom: 30px;
            left: 150px;
            width: 85px;
            height: 80px;
        }

        .iphone-content {
            display: block;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}