/*** Import Andamio ***/
@import "../style/base/base.less";
@import "../style/mixins/mixins.less";
@import "../style/page/page.less";
@import "../style/lists/lists.less";
@import "../style/ui/ui.less";
@import "../style/theme/theme.less";

/*** Styling ***/

h1,
h2,
h3,
h4,
h5,
h6 {
    text-shadow: 0 1px 1px #fff;
}

/*** Extra sidebar ***/
@iphone-width: 378px;
@iphone-height: 744px;

.webapp {

    .page-view {
        right: 33.33333333%;
        overflow: hidden;
    }

    .parent-view,
    .child-view {
        background-image: url(img/pattern.png);
    }
}

/*** Pageheader ***/
@page-header-background: lighten(@grey, 25%);
@page-header-border: darken(@page-header-background, 35%);
@page-header-color: darken(@grey, 35%);

.page-logo {
    text-shadow: 0 1px 1px lighten(@page-header-background, 25%);
}

.button-header {
    color: @page-header-color;
    text-shadow: 0 1px 1px lighten(@page-header-background, 25%);
}

/*** Page navigation ***/
@navigation-background: @global-background-color;
@navigation-header-background: darken(@navigation-background, 10%);
@navigation-header-color: @grey, 25%;
@navigation-item-color: @blue;

.desktop,
.ios6 {
    .page-navigation-toggle {
        .box-shadow(-@grid-s 0 @grid-l -@grid-s rgba(0,0,0, .5));
    }
}

.navigation-header {
    text-transform: uppercase;
    font-weight: bold;
}

.navigation-item {

    &.active {
        color: @white;
        .gradient(@blue, darken(@blue, 10%));
        text-shadow: 0 1px 1px darken(@blue, 25%);
    }
}

/*** Boxes ***/
.box {
    margin: 0;
    padding: @grid-l;
}

.js-box {
    .animate(opacity);
    opacity: 0.3;

    &.active {
        opacity: 1;
    }
}

/*** Jumbotron ***/
.jumbotron {
    padding: @grid-l;

    .jumbotron-title {
        font-size: 2 * @font-huge;
        line-height: 1.25;
    }

    .jumbotron-subtitle {
        font-size: @font-l;
        line-height: 1;
        color: @grey;
    }

    h3 {
        font-size: @font-s;
    }

    .unit {
        padding: @grid-l @grid-m;

        &:first-child {
            padding-left: 0;
        }
    }
}

/*** iPhone preview window ***/
.iphone {
    width: @iphone-width;
    height: @iphone-height;

    position: absolute;
    top: 50%;
    right: 0;
    left: 66.66666666%;
    margin: -(@iphone-height / 2) auto;

    background: url(img/iphone-white.png) 50% 0 no-repeat;
    background-size: @iphone-width @iphone-height;
    .box-sizing(border-box);
    .border-radius(70px);
    .box-shadow(0 20px 60px rgba(0,0,0, .35));

    padding: 153px 26px 130px 30px;

    &:after {
        content: "";
        position: absolute;
        top: 128px;
        right: 23px;
        background: url(img/iphone-glare.png);
        background-size: contain;
        width: 137px;
        height: 366px;

        pointer-events: none;
    }

    .iphone-home-button {
        position: absolute;
        bottom: 30px;
        left: 150px;
        width: 85px;
        height: 80px;
    }

    .iphone-content {
        display: block;
        width: 100%;
        height: 100%;
        border: 0;
    }
}
