/***

    Setup page header

***/

@page-header-background: lighten(@black, 35%);
@page-header-border: lighten(@page-header-background, 25%);
@page-header-color: lighten(@page-header-background, 85%);

.page-header {
    .gradient(@page-header-background, darken(@page-header-background, 25%));
    border-top-color: lighten(@page-header-background, 10%);
    border-bottom-color: @page-header-border;
}
