.pager-loading {
    margin: @grid-m;
    line-height: @grid-l + @grid-m + 2;
    background: @icon-spinner-light-url 0 50% no-repeat;
    background-size: @icon-spinner-light-width @icon-spinner-light-height;
    padding-left: @icon-spinner-light-width + @grid-m;
}

.pager-action {
    margin: @grid-m;
}