.slideshow-wrapper {
    overflow: hidden;
    position: relative;
     -webkit-user-select: none;
     user-select: none;

    &.slideshow-wrapper-16by9 {
        .media-flex-16-9;
    }

    // To use a 4:3 aspect ratio
    &.slideshow-wrapper-4by3 {
        .media-flex-4-3;
    }

    .slideshow-container {
        overflow: hidden;
        position: absolute;
        top: 0; left: 0; bottom: 0;
        width: 100%; // will be overridden by Swipe.js
        .translate3d(0,0,0);
        z-index: 1; // https://github.com/bradbirdsall/Swipe/pull/267
    }

    .slideshow-item {
          float: left;
          width: 100%;
          height: 100%;
          position: relative;
    }
}

.slideshow-dots {
    margin: 0;
    padding: @grid-s @grid-m;
    text-align: center;

    .slideshow-dot {
        display: inline-block;
        margin: 0 @grid-m 0 0;
        width: @grid-m; height: @grid-m;
        border-radius: @grid-m;

        background: @grey;
        .box-shadow(inset 0 1px 2px darken(@grey, 25%), 0 1px 1px @white);

        &.active {
            background: darken(@grey, 25%);
        }
    }
}
