<div class="media-object-list-feed">
    <h2 class="table-header">Media object list</h2>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="media-object">
        <img src="http://placehold.it/64x64" width="32" height="32" class="media-img">
        <div class="media-bd">
            <h3>Media body</h3>
            <div class="detail">Media body text</div>
        </div>
    </a>
</div>