<div class="section-header">
    <h1 class="section-title">File: {{fileName}}</h1>
</div>

<div class="box">
    <pre><code class="language-javascript" data-line="{{{line}}}">
{{{fileData}}}
    </code></pre>
</div>
